
.icon-note-beamed:before { content: '\e800'; } /* '' */
.icon-right:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-ok:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\e804'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */